.contenedor{
    width: 95%;
    /* max-width: 1000px; */
    margin: 10px auto; /*auto es para centrar*/
    display: grid;
    grid-gap: 20px; /*espacio entre las casillas de grid*/
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header header  header header"
                         "sidebar article1 article2 article3"
                         "sidebar article1 article2 article3"
                         "footer footer footer footer"   ;
}

.contenedor .header,
.contenedor .sidebar,
.contenedor .article1,
.contenedor .article2,
.contenedor .article3, 
.contenedor .footer{
    background-color:antiquewhite;
    color: lightblue;
}

.contenedor .header{
    display: grid;
    grid-template-columns: 0.3fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "logo lista";
    padding: 20px;
    flex-direction:row ;
    /* justify-content:space-around ; */
    grid-area: header;
}

.contenedor .logo{
    grid-area: logo;
}


.contenedor .sidebar{
    background-color: rgb(177, 238, 177);
    color: black;
    /* display: block; */
    /* row-gap: 5px; */
    display: flex;
    flex-direction: column;
    row-gap: 50px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: sidebar;
    overflow:hidden;
}

.contenedor .article1{
    display: flex;
    flex-direction: column;
    grid-area: article1;
    padding: 10px;
    background-color: coral;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: larger;

}


.contenedor .article2{
    display: flex;
    flex-direction: column;
    grid-area: article2;
    padding: 10px;
    background-color: coral;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: larger;

}



.contenedor .article3{
    grid-area: article3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: coral;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.contenedor .footer{
    border-color: black;
    border-style: double;
    min-height: 50px;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .contenedor{
    background-color: ;
    grid-gap: 20px; /*espacio entre las casillas de grid*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header header  header header"
                         "sidebar sidebar sidebar sidebar"
                         "article1 article1 article2 article2"
                         "article1 article1 article3 article3"
                         "footer footer footer footer"   ;
    }   

    .contenedor .sidebar{
        display: flex;
        flex-direction: row;
        row-gap: 10px;
    }
}

.lista{
display: flex;

justify-items: space-around;
grid-area: lista ;
}
.
